<link rel="stylesheet" type="text/css" href="css/login.css">
<div id="container">
    <div class="col-md-4 col-md-offset-4 login-box">
        <h1 class="txt-color-red login-header-big">GeoIP Administrator</h1>
        <form class="smart-form client-form" ng-submit="changePassword()">
            <header>
                Change Password
            </header>
            <fieldset>
            	<div class="alert alert-block alert-danger" ng-show="isFailed">
                    <h4 class="alert-heading">Process failed !</h4>
                    <p>
                        {{pwdMessage}}
                    </p>
                </div>
                <section>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                        <input type="password" ng-model="oldpassword" placeholder="Old Password" id="oldpassword" required value="">
                        <b class="tooltip tooltip-bottom-right">Don't forget your old password</b> </label>
                </section>
                <section>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                        <input type="password" ng-model="newpassword" placeholder="New Password" id="newpassword" required value="">
                        <b class="tooltip tooltip-bottom-right">Don't forget your new password</b> </label>
                </section>
                <section>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                        <input type="password" ng-model="passwordConfirm" placeholder="Confirm password" required value="">
                        <b class="tooltip tooltip-bottom-right">Don't forget confirm your new password</b> </label>
                </section>
            </fieldset>
            <footer>
            	<div class="note">
                    <a href="#/login">Go to login page!</a>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="Submit">
                    Submit
                </button>
            </footer>
        </form>
    </div>
</div>
