<div id="content">
    <div class="row heading">
        <a href="#"><h3>LOCATION DRILL</h3></a>
        <div class="clear-br"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="heading">
                    <h4>{{'LOCATION_DRILL_ADD'| translate}}</h4>
                </div>
                <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>{{'LOCATION_DRILL_INFO'|translate}}</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label>{{'LOCATION_DRILL_INFO_NAME'|translate}}</label>
                                        <input class="form-control" placeholder="HCM" type="text" ng-model="drillName">
                                    </div>
                                    <div class="form-group">
                                        <label>{{'LOCATION_DRILL_INFO_DESCRIPTION'|translate}}</label>
                                        <textarea class="form-control" placeholder="Type your description" rows="3" ng-model="drillDescription"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="input-image" style="width: 300px" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputGender">{{'LOCATION_DRILL_INFO_CITYCODE'|translate}}</label>
                                        <select class="form-control" placeholder="city" ng-model="cityID">
                                            <option value="">Select City...</option>
                                            <option ng-repeat="city in allCitys" value="{{city.id}}">{{city.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>{{'LOCATION_DRILL_INFO_STATUS'|translate}}</label>
                                        <br>
                                        <label>
                                            <input class="radiobox" name="style-0a" type="radio" ng-model="status" value="1">
                                            <span>{{'LOCATION_DRILL_INFO_STATUS_ACTIVE'|translate}}</span>
                                        </label>
                                        <label>
                                            <input class="radiobox" name="style-0a" type="radio" ng-model="status" value="0">
                                            <span>{{'LOCATION_DRILL_INFO_STATUS_INACTIVE'|translate}}</span>
                                        </label>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary" ng-click="createDrill(picFile)">{{'BUTTON_SAVE' | translate}}</button>
                                    <button type="button" ng-click="clear()" class="btn btn-default">{{'BUTTON_RESET' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="table-detail">
                    <div class="heading">
                        <h4>{{'LOCATION_DRILL_ALL'|translate}}</h4>
                    </div>
                    <div class="col-md-12" style="padding: 0px; margin-bottom: 10px;">
                        <button type="button" ng-click="refreshData()" class="btn btn-default" ng-show="isShowRefresh">Refresh</button>
                    </div>
                    <div class="col-md-4" style="padding: 0px; margin-bottom: 10px;">
                        <select class="form-control" placeholder="city" ng-model="data.cityid" ng-change="filterCityChanged(data.cityid)">
                            <option value="">Select City to filter...</option>
                            <option ng-repeat="city in allCitys" value="{{city.id}}">{{city.name}}</option>
                        </select>
                    </div>
                    <div class="citys-table">
                        <table class="table table-striped table-bordered" width="100%" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
