<div class="room-detail" ng-show="">
    <table datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Staff's name</th>
                <th>Firt In</th>
                <th>Last out</th>
                <th>Peoples</th>
                <th>Create At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Rome</td>
                <td>20:15 5/4/2016</td>
                <td>24:15 5/4/2016</td>
                <td>23</td>
                <td>10:10 1/4/2016</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Hanoi</td>
                <td>20:15 5/4/2016</td>
                <td>24:15 5/4/2016</td>
                <td>5</td>
                <td>10:10 1/4/2016</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lao</td>
                <td>20:15 5/4/2016</td>
                <td>24:15 5/4/2016</td>
                <td>23</td>
                <td>10:10 1/4/2016</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Rome</td>
                <td>20:15 5/4/2016</td>
                <td>24:15 5/4/2016</td>
                <td>23</td>
                <td>10:10 1/4/2016</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Hanoi</td>
                <td>20:15 5/4/2016</td>
                <td>24:15 5/4/2016</td>
                <td>5</td>
                <td>10:10 1/4/2016</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lao</td>
                <td>20:15 5/4/2016</td>
                <td>24:15 5/4/2016</td>
                <td>23</td>
                <td>10:10 1/4/2016</td>
            </tr>
        </tbody>
    </table>
